html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  background-color: #14213d;
  flex-wrap: wrap;
}
#orDivider {
  color: #fca311;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#orDivider::before,
#orDivider::after {
  content: "";
  border-top: 4px solid white;
  height: 0px;
  width: 25%;
  display: block;
}

.joinInnerContainer {
  width: 20%;
  flex: content;
  margin: 2rem;
}

.joinInput {
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
  border: none;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #fca311;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.or {
  color: white;
  margin: 1rem;
}

.headingContainer {
  flex-shrink: 0;
  width: 100%;
}
