.canvasContainer {
  flex: 1;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  canvas {
    cursor: pointer;
  }
}

.pointerContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  svg {
    height: 24px;
    width: 24px;
  }

  .pointer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    left: 100px;
    position: absolute;
    top: 100px;
    z-index: 100;
  }
}
