@import '../../../styles/colors';

.canvasContainer {
  flex: 1;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  canvas {
    cursor: pointer;
  }
}

.pointerContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  svg {
    transform: scale(0.8);
    path {
      fill: $primary-background-color;
    }
  }

  .pointer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    left: 100px;
    position: absolute;
    top: 100px;
    z-index: 100;
  }
}

.userPointer {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #11fc1a;
  padding: 0 8px;
  border-radius: 8px;
  margin-top: 2px;
  color: $primary-background-color;
  font-weight: bold;
}
