@import '../../styles/colors';
@import '../../styles/mixins';

@mixin customColorScheme {
  background-color: $primary-background-color;
  color: $primary-foreground-color;
}

@mixin globalColorScheme {
  background-color: $primary-foreground-color;
  color: $primary-background-color;
}

.formContainer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
}

.custom {
  @include customColorScheme;
}

.global {
  @include globalColorScheme;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}

.inputContainer {
  & > label {
    display: block;
  }

  & > input {
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 32px 0;
    outline: none;
    padding: 6px;
    transition: all 0.5s;

    &:focus {
      border-bottom-width: 5px;
      transform: scale(1.5);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.customInput {
  @include customColorScheme;
  border-bottom: 2px solid $primary-foreground-color;
  transition: all 1s;

  &::placeholder {
    color: $primary-foreground-color;
    font-weight: bold;
  }
}

.globalinput {
  @include globalColorScheme;
  border-bottom: 2px solid $primary-background-color;
  color: $primary-background-color;

  &::placeholder {
    color: $primary-background-color;
    font-weight: bold;
  }
}

.continueBtn {
  border-radius: 5px;
  border: none;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0;
  padding: 12px;
  width: 100%;
}

.customBtn {
  @include globalColorScheme;
}

.globalBtn {
  @include customColorScheme;
}
