@import '../../../styles/_colors.scss';
@import '../../../styles/_mixins.scss';

// header styles
.header {
  background-color: $primary-background-color;
  color: $primary-foreground-color;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 1.25rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.toolsContainer {
  align-items: center;
  display: none;

  @include for-tablet-landscape-up {
    display: flex;
  }

  > div:not(:last-child) {
    border-right: 3px solid $primary-foreground-color;
  }

  .colorPicker {
    align-items: center;
    display: flex;
    padding: 0 0.5rem;

    .colorCode {
      background: transparent;
      border: none;
      color: $primary-foreground-color;
      font-size: 1.25rem;
      font-weight: bold;
      outline: none;
      padding: 0 0.5rem;
      text-transform: uppercase;
    }

    input[type='color'] {
      -webkit-appearance: none;
      border-radius: 4px;
      border: 0;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      height: 2rem;
      overflow: hidden;
      padding: 0;
      width: 2rem;
    }

    input[type='color']::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    input[type='color']::-webkit-color-swatch {
      border: none;
    }
  }

  .strokePicker {
    padding: 0 1rem;
    select {
      border-radius: 4px;
      border: 2px solid $primary-foreground-color;
      color: $primary-background-color;
      font-weight: bold;
      min-height: 2rem;
      min-width: 6.25rem;
      outline: 2px solid $primary-foreground-color;

      option {
        background-color: $primary-background-color;
        color: $primary-foreground-color;
        font-weight: bold;
      }
    }
  }
}

.stroke {
  hr {
    color: black;
    height: 2px;
  }
}

.subOptions {
  display: flex;
}

.badge {
  align-items: center;
  background-color: $primary-foreground-color;
  border-radius: 50%;
  color: $primary-background-color;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  border: 1px solid $primary-background-color;
}

.badgeGroup {
  display: flex;

  div {
    margin: 0 -8px;
  }
}

.githubLogo {
  cursor: pointer;
  margin-left: 32px;
}

.roomInfo {
  flex: 1;
  text-align: center;
  button {
    background: none;
    border: none;
  }

  svg {
    fill: $primary-foreground-color;
  }
}
