@import '../../styles/colors';
@import '../../styles/mixins';

.heroContainer {
  min-height: 100vh;
  min-width: 100vw;
}

.heroLogo {
  color: $primary-foreground-color;
  font-size: 36px;
  font-weight: bold;
  mix-blend-mode: difference;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.optionContainer {
  display: flex;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;

  @include for-phone-only {
    flex-direction: column;
  }
}

.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 46px;
  justify-content: center;
  text-align: center;
  transition: all 1s;
  white-space: 'pre-wrap';
  width: 100%;

  &:hover,
  &:focus {
    flex: 2;

    .label {
      transform: scale(1.5);
    }
  }

  @include for-phone-only {
    font-size: 24px;
  }
}

.optionPrimary {
  background-color: $primary-background-color;
  color: $primary-foreground-color;
}

.optionSecondary {
  background-color: $primary-foreground-color;
  color: $primary-background-color;
}

.label {
  font-weight: bold;
  transition: 0.2s all;
  width: 200px;
}

.footer {
  bottom: 0;
  color: $primary-foreground-color;
  font-size: 16px;
  font-weight: bold;
  mix-blend-mode: difference;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
